body {
  font-family: "Poppins", sans-serif;
  background-color: #829687;
  font-size: 16px;
}

h1,
h2 {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 3px;
}
h1 {
  color: #829687;
}
h2 {
  color: #95ab9a;
}
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;

  font-weight: 200;
  color: #596a5e;
}
li::first-letter {
  text-transform: capitalize;
}
a {
  color: #95ab9a;
}
a:hover {
  color: #596a5e;
}
small {
  color: #f1f4eb;
}
.weatherAppWrapper {
  width: 600px;
  margin: 75px auto;
}
.weatherApp {
  margin-bottom: 10px;
  padding: 20px;
  border-radius: 10px;
  background-color: #fcfff6;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1);
}
.searchEngine {
  margin-bottom: 20px;
}
.form-control {
  background-color: #829687;
}
.form-control:focus {
  background-color: #829687;
}
#city-input {
  border: none;
  border-radius: 20px;
  color: #f1f4eb;
  font-weight: 300;
}
#city-input::placeholder {
  color: #c5d6b0;
  font-weight: 300;
}
#search-button-column {
  padding-left: 0;
}
#search-button {
  width: 100%;
  position: relative;
  top: 2px;
  padding: 5px 0;
  color: #f1f4eb;
  font-weight: 300;
  background-color: #596a5e;
  border: solid 1px #596a5e;
  border-radius: 20px;
  transition: all 200ms ease-in;
}
#search-button:hover {
  background-color: #95ab9a;
  border: solid 1px #95ab9a;
}

.overview {
  padding: 0;
  margin-bottom: 25px;
}
.weather-temperature img {
  width: 90px;
}
.weather-temperature strong {
  margin-left: 5px;
  color: #829687;
  font-weight: 300;
  font-size: 90px;
  line-height: 1;
}
.weather-temperature .units {
  color: #829687;
  position: relative;
  top: -53px;
  font-size: 16px;
  font-weight: 300;
}
.weather-temperature .active {
  color: #596a5e;
  cursor: default;
}
.weather-temperature .active:hover {
  text-decoration: none;
}
.data {
  text-align: right;
}
.dataInfo {
  color: #829687;
  font-weight: 500;
}
.links,
.links:hover {
  color: #c5d6b0;
}
.forecast {
  margin-top: 25px;
  text-align: center;
}
.forecast-col {
  padding: 0 5px;
}
.forecast-date {
  font-size: 20px;
  font-weight: 300;
  color: #b1c4a6;
  margin-bottom: 10px;
}
.forecast-temp {
  font-size: 16px;
  font-weight: 300;
  margin-top: 10px;
}
.forecast-temp-max {
  color: #b1c4a6;
}
.forecast-temp-min {
  color: #c5d6b0;
}
